body {
    font-family: var(--main-font);
    font-size: 13px;
}

h2 {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}

canvas {
    display: block;
    border: 1px solid #000;
    margin: 0 auto;
}

#container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}
